<h1>Add New Movie</h1>

<form action="/create_movie">
  <div>
    <label for="title">Title</label>
    <input id="title" name="the_title" type="text">
  </div>

  <div>
    <label for="year">year</label>
    <input id="year" name="the_year" type="text">
  </div>

  <div>
    <label for="duration">duration</label>
    <input id="duration" name="the_duration" type="text">
  </div>

  <div>
    <label for="description">description</label>
    <input id="description" name="the_description" type="text">
  </div>

  <div>
    <label for="image_url">image_url</label>
    <input id="image_url" name="the_image_url" type="text">
  </div>

  <button>Create Movie</button>
</form>
